.scroller {
  position: relative;
  overflow: hidden;

  /* カスタマイズ可能な変数 */
  --radius: 32; /* スクロールバーの半径 */
  --stroke-width: 4; /* スクロールバーの太さ */
  --track-length: 1000; /* トラックの長さ */
  --thumb-size: 70; /* スクロールバーの長さ */
  --color: #f85922; /* スクロールバーの色 */
  --track-alpha: 0.2; /* トラックの透明度 */
  --scrollbar-offset: 1rem; /* スクロールバーの右からの距離 */
}

.scroller > .content {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroller > .content::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.bar {
  position: absolute;
  top: var(--scrollbar-offset);
  bottom: var(--scrollbar-offset);
  right: var(--scrollbar-offset); /* スクロールバーの位置を調整 */
  width: calc(var(--radius) * 2px);
  pointer-events: none;
  z-index: 2;
}

.track,
.thumb {
  fill: none;
  stroke-width: var(--stroke-width);
  stroke-linecap: round;
}

.track {
  stroke: hsl(0 0% 100% / var(--track-alpha)); /* トラックの色 */
}

.thumb {
  stroke: var(--color); /* スクロールバーの色 */
  stroke-dasharray: var(--thumb-size) var(--track-length);
  animation: scroll both linear;
  animation-timeline: --scroller;
}